@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mali";
}

.mali-extralight {
  font-family: "Mali", serif;
  font-weight: 200;
  font-style: normal;
}

.mali-light {
  font-family: "Mali", serif;
  font-weight: 300;
  font-style: normal;
}

.mali-regular {
  font-family: "Mali", serif;
  font-weight: 400;
  font-style: normal;
}

.mali-medium {
  font-family: "Mali", serif;
  font-weight: 500;
  font-style: normal;
}

.mali-semibold {
  font-family: "Mali", serif;
  font-weight: 600;
  font-style: normal;
}

.mali-bold {
  font-family: "Mali", serif;
  font-weight: 700;
  font-style: normal;
}

.mali-extralight-italic {
  font-family: "Mali", serif;
  font-weight: 200;
  font-style: italic;
}

.mali-light-italic {
  font-family: "Mali", serif;
  font-weight: 300;
  font-style: italic;
}

.mali-regular-italic {
  font-family: "Mali", serif;
  font-weight: 400;
  font-style: italic;
}

.mali-medium-italic {
  font-family: "Mali", serif;
  font-weight: 500;
  font-style: italic;
}

.mali-semibold-italic {
  font-family: "Mali", serif;
  font-weight: 600;
  font-style: italic;
}

.mali-bold-italic {
  font-family: "Mali", serif;
  font-weight: 700;
  font-style: italic;
}

/* above are the code for the font sizes */

a hr {
  display: none;
}

a:hover hr {
  display: block;
  transition: 0.04s;
  background-color: rgb(88, 212, 249);
}

a.active hr {
  display: block;
  background-color: rgb(117, 123, 143);
}

.head-text {
  color: rgb(117, 123, 143);
}

.head-text:hover {
  color: rgb(88, 212, 249);
}

.head-text:active {
  color: rgb(117, 123, 143);
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .menuList.active {
    background-color: rgb(117, 123, 143);
    color: white;
  }

  .menuList:hover {
    background-color: white;
    color: rgb(88, 212, 249);
  }
}

input[type="checkbox"]:checked {
  accent-color: rgb(117, 123, 143);
}
